body {
    color: forestgreen;
}

h1#tfod {
    left:600px;
}

nav {
    color: forestgreen;
    font-size: 20px;
}

li: {
    color: forestgreen;
}

p {
    color:darkgreen;
}

a {
    color:forestgreen;

}

a:link, a:active {
    color:greenyellow;
}

a:hover {
    color:green;
    font-weight: bolder;
}

nav-item:li {
    color: forestgreen;
    outline-style: solid;
    outline-color: black;
    
}

<<<<<<< HEAD
.navbar-toggler {
padding: .25rem .75rem;
font-size: 1.25rem;
line-height: 1;
background-color: transparent;
border: 1px solid black;
border-radius: .25rem;
}


div.col-sm, div.col-md, div.col-lg, div.col-xl {
    border: 1px solid green;
}
=======
>>>>>>> 3f3af980fd6bbb600de27a5e09853e9443ae2dac
/*form#signup-form {
    position: relative;
    left: 200px;
}

*/